<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TwopathsRp Connect</title>
        <link rel='icon' href='../images/icon/zap96x96.png' type='image/x-icon'/>

        <link rel="stylesheet" type="text/css" href="reset.css">


    </head>
    <header>
        <img src="../images/logo/twopathsrp1.png" alt="Logo">
        <h1>TwoPathsRp</h1>
        <nav>
            <ul>
                <!-- <li><a href= './views/index.html'>Home</a></li> -->
                <li><a href= './index.html'>Home</a></li>
                <li><a href= '#'>Connect</a></li>
                <li><a href= './developer.html'>Developers</a></li>
            </ul>
        </nav>
        <banner>
            <!-- width 100% -->
            <img src="../images/banner/twopathsrp.png" alt="banner">
        </banner>
    </header>
<body>

    <!-- https://discord.gg/yfvacfN -->
    <ul>
        <li>
            <p>Visit our discord <a href='https://discord.gg/yfvacfN'>https://discord.gg/yfvacfN</a></p>
        </li>
    </ul>
    
</body>
</html>