 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwopathsRp</title>
    <link rel='icon' href='../images/icon/hnet.com-image.ico' type='image/x-icon'/>

    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/modules.css">


</head>

<body>    
    <header>
        <img src="../images/logo/twopathsrp1.png" alt="Logo">
        <h1>TwoPathsRp</h1>
        <nav>
            <ul>
                <!-- <li><a href= './views/index.html'>Home</a></li> -->
                <li><a href= './index.html'>Home</a></li>
                <li><a href= './connect.html'>Connect</a></li>
                <li><a href= './developer.html'>Developers</a></li>

            </ul>
        </nav>
        <banner>
            <!-- width 100% -->
            <img src="../images/banner/twopathsrp.png" alt="banner">
        </banner>
    </header>

        <main>
           <h2>5M Role Playing Community</h2>
           <p>Thank you for looking into our server ~ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non velit elementum, venenatis justo a, efficitur felis. Aliquam tempus porta orci eu congue. Etiam et sapien nec mi euismod accumsan pretium at nibh. Vestibulum id eros urna. Quisque non dolor justo. Donec sagittis, augue posuere porta sagittis, leo purus commodo metus, sit amet pulvinar tortor nisl eget mi. Pellentesque ut commodo urna. Sed vel orci at nunc auctor vulputate. Suspendisse potenti. Fusce fermentum magna malesuada gravida blandit.

            Proin urna ipsum, viverra id nibh nec, euismod aliquet urna. Ut scelerisque lorem ac lacus ultrices, et pretium tortor commodo. Suspendisse sit amet sem ac nunc accumsan ultricies id non urna. Mauris faucibus lectus at nunc suscipit, et faucibus lacus rutrum. Aliquam egestas lacus ac varius blandit. Duis et risus porttitor, eleifend lacus tempor, placerat dolor. Sed quis tristique purus, vel sollicitudin felis. Nunc ultricies porttitor mi quis gravida. Pellentesque dignissim, libero eleifend ullamcorper mattis, massa risus molestie odio, vitae sodales justo diam sit amet metus. Donec non tristique eros. Vivamus et vehicula nunc. Vivamus malesuada in dolor iaculis eleifend. Aenean tristique arcu vitae lorem dapibus, ac condimentum mauris blandit. Donec turpis erat, consectetur nec elit quis, ornare luctus mauris. Mauris sed nisl mi.</p>
        </main>
    <footer>

    </footer>    
</body>

</html>